
<div class="container">
  <div nz-row>
    <div nz-col nzSpan="6" style="margin-right: 90px;">
      <input [(ngModel)]="pizzaModel.name" type="text" nz-input  placeholder="Enter Name">
      <textarea [(ngModel)]="pizzaModel.description" nz-input placeholder="Enter description" [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
      <!-- <input   type="text"  nz-input   multiple placeholder=""> -->
      <input [(ngModel)]="pizzaModel.price"  type="number" nz-input  placeholder="Enter price">
      <input [(ngModel)]="pizzaModel.image"  type="text" nz-input  placeholder="Enter image">

      <button (click)="createPizza()" nz-button nzType="primary">Create</button>

    </div>
    <app-pizza-item [pizza] = "pizzaModel" nz-col nzSpan="6"></app-pizza-item>
  </div>
</div>

