<router-outlet>
  
<div class="container">
  <h3>Choose one of them</h3>
  <div class="row" style="float: left; width: 50%; height: 1200px;">

        <app-ingredient-item style="float: left;" *ngFor="let item of ingredients;let i = index" [ingredient] = "item" [btnText] = "'Add'" (outToParent)="receiveFromChild($event)" class="col-lg-3 col-md-4"></app-ingredient-item>
  </div>
  <div>
  <h3>Your pizza</h3>
  <a (click)="Send()">Add to Wishlist</a>
  <div class="row" style="width: 50%; height: 1200px;">
      <app-ingredient-item   *ngFor="let item1 of choosed;let i = index"  [ingredient] = "item1" [btnText] = "'Remove'" (outToParent)="receiveFromChild($event)" class="col-lg-3 col-md-4"></app-ingredient-item>
  </div>
 
</div>
  </div>
  </router-outlet>
